/* general containers */

div.build {
  position: relative;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  margin-bottom: 9px;
}

.progress {
  height: 20px;
  border-radius: 0 5px 5px 0;
  margin-left: auto;
}

.builds-header {
    padding: 3px 5px;
    font-size:90%;
}

/* status bar */
.build-status-bar {
  margin-bottom: 1em;
  border-radius: 5px;
}

.build-status-bar .successful {
  width: 100%;
}

.build-status-bar .failed {
  width: 0;
}

.failed {
  background-color: #A32C22;
  color: white !important;
}

.successful {
  background-color: #1C842F !important;
}

.down, .disabled {
  background-color: #555555;
  color: white !important;
}

.plan-name {
  font-size:1.3em;
  font-weight: bold;
  display: inline;
  position: relative;
  color: #FFFFFF;
}

.plan-name a {
  color: #FFFFFF;
  text-decoration: none;
}

.plan-name-detail {
  font-weight: normal;
  color: #dddddd;
  font-size: 0.8em;
  margin: 0.5ex;
}

.plan-name-detail::before {
  content: "(";
}

.plan-name-detail::after {
  content: ")";
}

.completed-time {
  font-size: 1em;
}

div.failed.unassigned {
  background-color: #ff0000;
}

.build-info {
  position: relative;
}

.build-overview-always-show {
  padding-bottom: 1em;
}

/* responsibles */
.responsibles{
  display: inline;
  margin-left: 0.5em;
  position: relative;
}

.responsibles img {
  margin-right: 0.2em;
  width: 2.2em;
  height: 2.2em;
  border-radius: 1.1em;
}

.hidden {
  display: none;
}

/* stand alone messages */
.no-broken-builds-message {
  font-size: 3em;
  text-align: center;
  color: #454545;
}

.all-builds-down-message{
  font-size: 3em;
  text-align: center;
  color: #A32C22;
}

.fail-details {
  display: inline;
  font-weight: bold;
}

.build-progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}

.time-remaining {
  font-size: 1.2em;
  margin-left: 7px;
}

.time-remaining.slower-than-usual {
  background: black;
  padding: 0 7px 0 7px;
  border-radius: 7px;
}

.label {
  font-size: 1.2em;
  margin-left: 7px;
  background: black;
  padding: 0 7px 0 7px;
  border-radius: 7px;
}

.failed-tests-summary {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.6em;
  vertical-align: top;
}

.spinnerx {
  margin-left: 10px;
  margin-top: 20px;
}

.left {
	float:left;
}

.right {
	float:right;
}